.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  */

.App{
  background-color: black;
  color: white;
  height: 100vh;
}


.navbar{
  background-color: black;
  color: white !important;
}

.currentTime{
  font-size: 90px;
}

.currentDate{
  font-size: 24px;
  color: gray;
}